li:hover > *{
    visibility: visible;
}

.icono-oculto {
    visibility: hidden;
    margin-left: 10px;
    cursor: pointer;
    transition: visibility 0.2s ease;
}

.list-group-item:hover .icono-oculto {
    visibility: visible;
}
